
.jumbotron {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jumbotron form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jumbotron form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
}

.jumbotron form div input {
    margin: 5px;
}

.jumbotron form div p {
    padding-top: 10px;
}